{% extends 'base/base.html' %}

{% block title_block %}
    Login
{% endblock %}

{% block contenido %}

    <div class="ui text container">
        <div class="ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui image header">
            <div class="content">
                Ingresa a tu cuenta
            </div>
            </h2>
            <form id="login_form2" method="post" action="{% url 'login' %}" class="ui large form">
                {% csrf_token %}
                <div class="ui stacked secondary  segment">
                    <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="username" placeholder="Nombre de usuario">
                    </div>
                    </div>
                    <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" placeholder="Contraseña">
                    </div>
                    </div>

                    <input type="submit" value="Ingresar" class="ui fluid large teal submit button">
                </div>

                <div class="ui error message"></div>

            </form>

            <div class="ui message">
                Nuevo? <a href="{% url 'registro' %}">Registrese</a>
            </div>
        </div>
        </div>
    </div>

{% endblock %}